@{
    ViewBag.Title = "Home Page";
}

@section Scripts{
    <script type="text/javascript">

        var panLayerInfo = function (panSize, servings, cupsBatter, bakingTemp, bakingTime, cupsIcing) {
            var self = this;
            self.panSize = panSize;
            self.servings = servings;
            self.cupsBatter = cupsBatter;
            self.bakingTemp = bakingTemp;
            self.bakingTime = bakingTime;
            self.cupsIcing = cupsIcing;
        };

        ko.bindingHandlers.jqSlider = {
            init: function (element, valueAccessor, allBindingsAccessor) {
                //initialize the control
                var options = allBindingsAccessor().jqOptions || {};
                $(element).slider(options);

                //handle the value changing in the UI
                ko.utils.registerEventHandler(element, "slidechange", function (event, ui) {
                    var observable = valueAccessor();
                    observable(ui.value);
                });
                ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                    $(element).slider("destroy");
                });
                ko.utils.registerEventHandler(element, "slide", function (event, ui) {
                    //would need to do some more work here, if you want to bind against non-observables
                    var observable = valueAccessor();
                    observable(ui.value);
                });
            },

            //handle the model value changing
            update: function (element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());
                $(element).slider('value', value).slider('refresh');
            }
        };

        ko.bindingHandlers['class'] = {
            'update': function (element, valueAccessor) {
                if (element['__ko__previousClassValue__']) {
                    $(element).removeClass(element['__ko__previousClassValue__']);
                }
                var value = ko.utils.unwrapObservable(valueAccessor());
                $(element).addClass(value);
                element['__ko__previousClassValue__'] = value;
            }
        };

        function jqSelectOptionButton(id) {
            $('#' + id).attr('checked', true).button('refresh');
        }

        var paper;
        var design;
        var viewingAngle = .12;
        var defaultColor = '#ffffff';
        var defaultWidth = 12;
        var defaultPanDepth = 3;
        var defaultHeight = 6;

        var Tier = function (panDepth, width, height, color, number) {
            var self = this;
            self.panDepth = ko.observable(panDepth);
            self.width = ko.observable(width);
            self.height = ko.observable(height);
            self.color = ko.observable(color);
            self.number = ko.observable(number);

            self.panDepth.subscribe(function (value) {
                jqSelectOptionButton('depth' + value)
                drawDesign();
            });
            self.width.subscribe(drawDesign);
            self.height.subscribe(drawDesign);
            self.color.subscribe(drawDesign);
            self.number.subscribe(drawDesign);
        };

        var Design = function () {
            var self = this;
            self.tiers = ko.observableArray([new Tier(defaultPanDepth, defaultWidth, defaultHeight, defaultColor, 1)]);
            self.selectedTierIndex = ko.observable(0);
            self.selectedTier = ko.computed(function () {
                if (self.selectedTierIndex() == -1)
                    return null;
                return self.tiers()[self.selectedTierIndex()];
            });
            self.selectTier = function (tier) {
                self.selectedTierIndex(ko.utils.arrayIndexOf(self.tiers(), tier));
            };
            self.tierClass = function(tier){
                if (self.selectedTier() == tier)
                    return 'ui-selected';
                else
                    return 'not-selected';
            };
            self.height = function () {
                var designHeight = 0;
                $.each(self.tiers(), function () { designHeight += this.height() });
                return designHeight;
            };
            self.width = function () {
                var designWidth = 0;
                $.each(self.tiers(), function () { if (this.width() > designWidth) { designWidth = this.width(); } });
                return designWidth;
            };
            self.firstTier = function () {
                if (self.tiers().length == 0) 
                    return null;
                return self.tiers()[0];
            };
            self.lastTier = function () {
                if (self.tiers().length ==0)
                    return null;
                return self.tiers()[self.tiers().length - 1];
            };
            self.addTier = function () {
                var panDepth = self.selectedTier().panDepth();
                var height = self.selectedTier().height();
                var width = self.selectedTier().width();
                var color = self.selectedTier().color();
                var number = self.tiers().length + 1;
                self.tiers.push(new Tier(panDepth, width, height, color, number));
                self.selectedTierIndex(self.tiers().length - 1);
                drawDesign();
            };

            self.selectedTierIndex.subscribe(function () {
                $.jPicker.List[0].color.active.val('hex', self.selectedTier().color());
                jqSelectOptionButton('depth' + self.selectedTier().panDepth());
            }, this);
        };


        $(function () {
            paper = new Raphael(document.getElementById('canvas_container'), 500, 500);
            setCanvasSize();
            design = new Design();
            ko.applyBindings(design);
            drawDesign();

            $(window).resize(function () {
                setCanvasSize();
                drawDesign();
            });

            $('#colorSelector').jPicker({
                window: {
                    expandable: true
                },
                images :
                {
                    clientPath: '@Url.Content("~/Images/jPicker/")' // Path to image files
                },
                color: {
                    active: new $.jPicker.Color({ hex: defaultColor })
                }
            },
            function (color, context) {
                var all = color.val('all');
                design.selectedTier().color(all && '#' + all.hex || defaultColor);
            },
            function (color, context) {
                var hex = color.val('hex');
                design.selectedTier().color(hex && '#' + hex || defaultColor);
            },
            function (color, context) {
               // nothing.
            });
            
            $('#addTier').button({
                icons: { primary: 'ui-icon-plus' }
            });

            $('.buttonset').buttonset();
            jqSelectOptionButton('depth' + defaultPanDepth);
            $('#depth2').click(function () { design.selectedTier().panDepth(2); });
            $('#depth3').click(function () { design.selectedTier().panDepth(3); });

            $('.tabs').tabs({ collapsible: true });
            $('.sortable').sortable({
                items: "li:not(.locked)",
                handle: ".handle"
            });
            $(".sortable li").disableSelection();
        });

        function setCanvasSize() {
            var win = $(window);
            var canvas = $('#canvas_container');
            var toolboxWidth = 300;
            var heightPad = 15;
            var width = win.width() - toolboxWidth;
            var height = win.height() - heightPad;
            canvas.height(height);
            canvas.width(width);
            paper.setSize(width, height);
        };


        function drawDesign() {
            paper.clear();
            if (design.tiers().length == 0)
                return;

            var designHeight = design.height();
            var designWidth = design.width();
            var paperHeight = paper.height;
            var paperWidth = paper.width;

            // Adjust design height for faux 3D perspective (circle-top+bottom tier have 3d pad, box ? just top?)
            var design3DPad = design.firstTier().width() * viewingAngle;
            design3DPad += design.lastTier().width() * viewingAngle;

            // Padding
            var paddingPct = .05;
            var paperVerticalPad = paperHeight * paddingPct;
            var paperHorizontalPad = paperWidth * paddingPct;

            // Optimal fit
            var heightRatio = (paperHeight - 2 * paperVerticalPad) / (designHeight + design3DPad);
            var widthRatio = (paperWidth - 2 * paperHorizontalPad) / designWidth;
            var unitsPerInch = Math.min(heightRatio, widthRatio);

            // Center design
            var midHeight = paperHeight / 2;
            var midWidth = paperWidth / 2;

            var startY = midHeight - ((designHeight * unitsPerInch) / 2);

            var consumedHeight = 0;
            var index = 0;
            design.tiers().forEach(function (t) {
                var computedHeight = t.height() * unitsPerInch;
                var computedWidth = t.width() * unitsPerInch;
                var x = midWidth - (computedWidth / 2);
                var y = startY + (designHeight * unitsPerInch) - computedHeight - consumedHeight;
                drawCylinder(index, x, y, computedWidth, computedHeight, t.color());

                index++;
                consumedHeight += computedHeight;
            });
        }

        function drawCylinder(tierIndex, x, y, width, height, color) {
            var path = "M" + x + "," + y;
            path += "l" + width + "," + "0";
            path += "l" + "0" + "," + height;
            path += "a" + -width / 2 + "," + width * viewingAngle + "," +
                    "0" + "," +
                    "0" + "," + "1" + "," +
                    -width + "," + "0";
            path += "l" + "0" + "," + "-" + height;

            var cakeCenter = paper.path(path);
            var cakeTop = paper.ellipse(x + width / 2, y, width / 2, width * viewingAngle);
            var tier = paper.set();
            tier.push(cakeTop, cakeCenter).attr({
                "fill": color
            });
            tier.click(function () {
                design.selectedTierIndex(tierIndex);
            });
        }
    </script>
}
<div id="canvasContainer">
    <div id="canvas_container" style="width: 600px; height: 600px;"></div>
</div>
<div id="commands">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">Tiers</a></li>
        </ul>
        <div id="tabs-1">
           <ul class="sortable" data-bind="foreach: tiers.slice(0).reverse()">
                <li class="tier" data-bind="click: $root.selectTier, class: $root.tierClass($data)">
                    <div class='handle'><span class='ui-icon ui-icon-carat-2-n-s'></span></div>
                    <div>Tier <span data-bind="text: number"></span></div>
                    <div>Width: <span data-bind="text: width"></span> Inches</div>
                </li>
            </ul>
            <button id="addTier" class="button" data-bind="click: addTier">Add another tier</button>
        </div>
    </div>
    <div id="properties" class="tabs">
        <ul>
            <li><a href="#property-tabs-1">Properties</a></li>
        </ul>
        <div id="property-tabs-1">
            <div class="buttonset">
                <input type="radio" id="depth2" name="depth" /><label for="depth2">2" deep pans</label>
                <input type="radio" id="depth3" name="depth" /><label for="depth3">3" deep pans</label>
            </div>
            <div>
                <div>Width: <label data-bind="text: selectedTier().width()"></label> Inches</div>
                <div data-bind="jqSlider: selectedTier().width, jqOptions: { min: 6, max: 18, step: 2, range: 'min' }"></div>
            </div>
            <div>
                <div>Height: <label data-bind="text: selectedTier().height()"></label> Inches</div>
                <div data-bind="jqSlider: selectedTier().height, jqOptions: { min: 2, max: 12, step: 1, range: 'min' }"></div>
            </div>
            <div>
                <span>Color</span>
                <div id="colorSelector"></div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
