html, ul, li, body {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    background-color: #fff;
}

body {
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

section {
    overflow: hidden;
}

#canvasContainer {
    float: left;
}

#commands {
    float: left;
    width: 295px;
}

#canvas_container {
    border: solid 1px gray;
}

.clear {
    clear: both;
}

.ui-tabs .ui-tabs-panel {
    padding: 5px;
}

/* Tiers */
.tier, #addTier { cursor: pointer; }
#addTier { width: 277px; margin-top: 10px; }
li { background: white; position:relative;padding: 5px; border: 1px solid gray; list-style: none; padding-left: 42px; }
li .handle { background: #f8f8f8; position: absolute; left: 0; top: 0; bottom: 0; padding:16px 8px; cursor: default; }
.ui-selecting { background: #eee; }
.ui-selecting .handle { background: #ddd; }
.ui-selected { background: #def; }
.ui-selected .handle { background: #cde; }
